main{
    width: 100%;
    height: 100%;
}
/* head style  start*/
.head-container{
    display:flex;
    justify-content: space-between;
}
.manuber-list{
    text-decoration: none;
}
.manu-name {
     display:flex;
     justify-content:space-between;
     gap:20px
}

.manuber-list {
    
}
.manuber-list ul a{
    
}
/* nav style start */
.nav-container{
    display: flex;
}
.start-journey{
    width: 582px;
    height: 270px;
}
.camera{
    width: 440px;
    height: 414px;
}