 body{
    font-family: 'Open Sans', sans-serif;
    margin: 87px 120px;
 }

/* head style  start*/

.head-container{
    display:flex;
    justify-content: space-between;
}
.head-title h3{
    font-size:24px;
        
    
}
.manuber-list{
    text-decoration: none;
}
.manu-name {
     display:flex;
     justify-content:space-between;
     gap:20px
}

.manuber-list {
    
}
.manu-name li , a{
    text-decoration: none;
    list-style: none;
}
/* head style end */

/*************
 main style start 
 *************/
main{
    width: 100%;
    height: 100%; 
}
/* nav style start */
.nav-container{
    display: flex;
    gap:133px;
}
.start-journey{
    width: 582px;
    height: 270px;
    margin-top:145px;
}
.nav-title{
    font-size: 52px;
    line-height: 70px;
}
.nav-discription{
    margin-top:16px;
    line-height: 24px;
}
.button-container{
    gap:5px;
}
.nav-button{
    background-color: #E02C6D;
    border-radius: 25px;
    color:white;
width: 196px;
height: 44px;
margin-top: 16px;
padding:10px 24px;

}
.camera{
    width: 440px;
    height: 414px;
    margin-top: 80px;
}
.camera-in{
    margin: 30px;
}
/* nav style end */
/* online shop logo style start */
.online-container{
    width: 1110px;
    height: 90px;
    border: 1px solid rgb(93, 93, 202);
    padding:36px 62px;
    margin-top:170px;
}
.online-logo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* online shop logo style end */
.popular{
    text-align: center;
    font-size:28px;
    margin-top: 100px;
}
.main-container{

}
.main-container-grid{
    width: 1047px;
    height: 1662px;
    background-color: rgb(219, 223, 226);
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:10px;
    margin-top:10px;
}
.second-container{
    background-color:white;
margin-top: 30px;
padding:10px 5px; 
width: 329px;
height: 485px;
border:1px solid greenyellow;
overflow: hidden;
background-size:100%;
}

.imges{
    
}
.collection-image{
margin-top:16px;
}
.collection-value{
margin-top:6px;
}
.star-value{
display: flex;
}

@media screen and (max-width:576px) {
    body{
        margin:5px;
        padding:0;
    }
    .head-container{
        justify-content:baseline;
    }
    .head-title h3{
        font-size:24px; 
        width: 100%;
    }
    .manu-name li {
         justify-content:baseline;
         width: 100%; 
    }
    .nav-container{
        flex-direction:column-reverse;
        gap:13px;
        width: 100%;

    }
    .start-journey{
        width: 100%;
        height: 100%; 
    }
    .button-container{
        width: 100%;
    }
    .nav-button{
        margin:27%;
    }
    .online-container{
        width: 100%;
        height: 100%;
         }
         .online-logo {
            width: 80%;
            align-items: center;
            flex-direction: column;
           
        }
        .popular{
            text-align: center;
            width: 100%;
        }
        
element.style {
}
.main-container-grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    
}
        
.second-container{
width: 100%;
text-align: center;
}

}